*{
    padding: 0;
    margin:0;
    background-color: #212121;
    /* color: white; */
}

h1{
    color: white;
    text-align: center;
    margin-top: 25px;
}

#end-date{
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

#content{
    background-color: #fff;
    margin: 25px;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

#inpt{
    height: 50px;
    width: 50px;
    color: green;
    display: flex;
    align-items: center;
}

input{
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: green;
    text-align: center;
    background-color: white;
    border: 2px solid black;
}

label{
    font-size: 25px;
    background-color: white;
    padding-right: 25px;
}

