*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 10px;
    width: 20%;
    height: 90vh;
    border-radius: 25px;
    background-color: white;
    background-size: cover;
    background-position: center;
    flex: 1;
    transition: 1s;
    filter: grayscale(1);
}

.box h3{
    padding: 10px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

.active{
    flex: 3;
    filter: grayscale(0);
}


#box-1{
    background-image: url('Image/bangkok.jpg');
}

#box-2{
    background-image: url('Image/mumbai.jpg');
}

#box-3{
    background-image: url('Image/quebec.jpg');
}

#box-4{
    background-image: url('Image/spain.jpg');
}

#box-5{
    background-image: url('Image/tokyo.jpg');
}